page-detail-schedule {
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #000000;
    }
    .list-md .item-input:last-child {
        border-top: 0px !important;
    }
    .text-input-md {
        margin: 13px 0px;
    }
    ion-list {
        border-top: 2px solid #dedede;
        border-bottom: 2px solid #dedede;
    }
    .button{
        background-color: #343585;
    }
    .item.item-md .checkbox-md {
        margin: 9px 10px 9px 4px !important;
    }
    .list-ios > .item-block:first-child {
        border-top: 0px !important;
    }
    .input-wrapper .label.label-ios.label-value {
        margin: 11px 8px 11px 16px !important;
        text-align: right;
    }
    .title-list{
        text-align: center;
        font-weight: bold;
    }
}
